<%- snippet = capture do %>
  <p>where the html example goes</p>
<%- end %>

<p>
  Thumbnails are used within tables and need to be small to keep table rows at
  an appropriate height that many rows can be seen on a screen at a time.
</p>

<div class="style-guide-result">
  <%= snippet %>
</div>

<div class="style-guide-code">
  <pre><code class="language-html"><%= escape_once snippet %></code></pre>
</div>
