<%- snippet = capture do %>
  <div id="progress">
    <div class="wrapper">
      <div id="spinner" class="spinner"></div>
      <div class="progress-message">Loading...</div>
    </div>
  </div>
<%- end %>

<div class="style-guide-result">
  <%= snippet %>
</div>

<div class="style-guide-code">
  <pre><code class="language-html"><%= escape_once snippet %></code></pre>
</div>
