<%- snippet = capture do %>
<a class="button fa fa-plus" href="#">New Order</a>
<%- end %>

<p>
One button style serves the purpose of primary and secondary buttons. 
A "button" is considered any of the following:
</p>
<pre>
  <code class="language-html">
  .button,
  button,
  input[type="button"],
  input[type="reset"],
  input[type="submit"]
  </code>
</pre>



<div class="style-guide-result">
  <%= snippet %>
</div>

<div class="style-guide-code">
  <pre><code class="language-html"><%= escape_once snippet %></code></pre>
</div>
