<%- snippet = capture do %>
  <div id="table-filter">
    <form>
      <div class="field">
        <label for="q_name_cont">Name</label>
        <input size="15" type="text" name="q[name_cont]" id="q_name_cont">
      </div>
    </form>
  </div>
<%- end %>

<p>Labels appear left aligned on top of their respective field.
</p>

<div class="style-guide-result">
  <%= snippet %>
</div>

<div class="style-guide-code">
  <pre><code class="language-html"><%= escape_once snippet %></code></pre>
</div>
