<%- snippet = capture do %>
  <div id="table-filter">
    <form>
      <div class="field">
        <label for="product_name">Name<span class="required"> *</span></label>
        <input size="15" type="text" name="q[name_cont]" id="q_name_cont">
      </div>
      <div class="field checkbox">
        <label style="margin-top: 20px;">
          <input name="q[deleted_at_null]" type="hidden" value="1"><input type="checkbox" value="0" name="q[deleted_at_null]" id="q_deleted_at_null">
          Show deleted
        </label>
      </div>
    </form>
  </div>
<%- end %>

<p>Labels for text fields, text boxes, and dropdowns appear left aligned on top of their respective field.
Labels for radio buttons and checkboxes are on the right. Mandatory fields have astericks* to the right of the label.
</p>

<div class="style-guide-result">
  <%= snippet %>
</div>

<div class="style-guide-code">
  <pre><code class="language-html"><%= escape_once snippet %></code></pre>
</div>
