<%- snippet = capture do %>
  <div id="table-filter">
    <form>
      <div class="left eight columns alpha" data-hook="admin_product_form_left">
        <div class="field" id="product_name_field">
          <label for="product_name">Name</label>
          <input class="fullwidth title" required="required" type="text" value="Ruby on Rails Baseball Jersey" name="product[name]" id="product_name">
        </div>

        <div data-hook="admin_product_form_description">
          <div class="field" id="product_description_field">
            <label for="product_description">Description</label>
            <textarea rows="15" class="fullwidth" name="product[description]" id="product_description">Occaecati atque quia asperiores enim porro quam id quisquam. Qui architecto enim commodi dolores ipsam repellat molestias nulla. Sint perferendis sunt vero provident eum ratione facere facilis. Mollitia eaque ratione voluptatem culpa sunt sed.</textarea>
          </div>
        </div>
      </div>
    </form>
  </div>
<%- end %>

<div class="style-guide-result">
  <%= snippet %>
</div>

<div class="style-guide-code">
  <pre><code class="language-html"><%= escape_once snippet %></code></pre>
</div>
