.style-guide {
  @include display(flex);

  &-sidebar {
    width: 225px;
    background: $color-7;
    padding: 1.5rem;

    .brand-link {
      margin-top: 2rem;

      img {
        display: block;
        width: 100px;
        margin: 0 auto;
      }
    }
  }

  &-main-content {
    @include flex(1);
    padding: 2rem;

    > section {
      @include clearfix;
    }
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  &-nav {
    text-transform: capitalize;

    > li {
      @include margin(0.5rem null);
      @include padding(0.75rem null);

      &:not(:first-of-type) {
        border-top: 1px solid darken($color-7, 5%);
      }

      > a {
        font-size: 1.2rem;
        font-weight: 300;
      }
    }

    a {
      display: block;
      color: darken($color-7, 65%);
      padding: 0.3rem 0.5rem;

      &:hover {
        background: darken($color-7, 5%);
      }
    }
  }

  &-intro,
  &-section:not(:last-child) {
    margin-bottom: 4rem;
  }

  &-section-header {
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 1px solid darken($color-7, 10%);
    line-height: 0.2;
    text-align: center;
    text-transform: capitalize;
    @include margin(7rem 0 3rem);

    span {
      background: white;
      @include padding(null 0.5em);
    }

    a {
      color: darken($color-7, 65%);
    }
  }

  &-result {
    width: 50%;
    float: left;

    #progress {
      display: inline-block;
      position: relative;
    }
  }

  &-code {
    width: 50%;
    margin-left: 50%;
    border: 1px solid darken($color-7, 10%);

    pre {
      margin: 0;
    }
  }
}
