<div class="admin-nav">
  <%= render partial: 'spree/admin/shared/header' %>
  <div class="admin-nav-sticky" data-sticky>
    <%= render partial: 'spree/admin/shared/menu' %>
    <%= render partial: 'spree/admin/shared/navigation_footer' %>
  </div>
</div>
