<%- snippet = capture do %>
  <p>where the html example goes</p>
<%- end %>

<p>
The menu was built to be two levels deep
The first level is used as a sorting heading
The second level is used as links to specific pages
</p>

<div class="style-guide-result">
  <%= snippet %>
</div>

<div class="style-guide-code">
  <pre><code class="language-html"><%= escape_once snippet %></code></pre>
</div>
